        * {
            margin: 0;
            padding: 0;
        }

        body {
            background-color: rgb(0, 0, 33);
            color: white;
            font-family: 'Roboto', sans-serif;
        }

        nav {
            display: flex;
            justify-content: space-around;
            align-items: center;
            height: 80px;
            background-color: rgb(18, 18, 62);

        }

        nav ul {
            display: flex;
            justify-content: center;
        }

        nav ul li {
            list-style: none;
            margin: 0 23px;

        }

        nav ul li a {
            text-decoration: none;
            color: white;

        }

        nav ul li a:hover {
            color: yellow;
            font-size: 1.2rem;

        }

        main hr {
            margin: 20px 44px;
            height: 1.2px;
            border: 0;
            background: #9c97f1;
        }

        .left {
            font-size: 1.5rem;
            color: white;
        }

   /* first section */
        .firstSection {
            display: flex;
            justify-content: space-around;
            align-items: center;
            margin: 130px 0;
        }

        .firstSection>div {
            width: 30%;

        }

        .leftSection {
            font-size: 2rem;
        }

        .leftSection .buttons {
            padding: 50px 0;
        }

        .leftSection .btn {
            padding: 12px;
            background: #1e2167;
            color: white;
            border: 2px solid white;
            border-radius: 6px;
            font-size: 18px;
            cursor: pointer;
            margin: 20px 10px;

             font-weight: bold;
             display: inline-block;
             background: linear-gradient(45deg, #ff6a00, #ee0979);
             transition: all 0.4s ease;
        }

        .leftSection .btn:hover{
             transform: scale(1.2);
             box-shadow: 0 8px 20px rgba(0,0,0,0.3);
        }


        .rightSection img {
            width: 80%;
        }

        .purple {
            color: rgb(255, 0, 255);
        }

        .text-gray {
            color: grey;

        }

        #element {
            font-size: 1.2rem;
            margin-top: 20px;
        }

        /* second section*/

        .secondsection {
            max-width: 80vw;
            margin: auto;
            height: 50vh;
        }

        .secondsection h1 {
            font-size: 1.5rem;
        }

        .secondsection .box {
            margin: 56px 0;
            width: 80vw;
            height: 2px;
            background: white;
            display: flex;

        }

        .secondsection .vertical {
            width: 1px;
            height: 93px;
            background: white;
            display: inline-block;
            margin: 0 150px;
        }

        .image-top {
            width: 40px;
            top: -32px;
            left: -9px;
            position: relative;
        }

        .verttical-title {
            position: relative;
            top: 50px;
            width: 400px;

        }

        .vertical-desc {
            position: relative;
            top: 30px;
            color: rgb(177, 169, 169);
            width: 400px;
            font-size: 12px;
        }

        .vertical-desc ul {
            padding-left: 20px;
        }

        .vertical-desc ul li {
            margin-bottom: 12px;
            line-height: 1.6;
            font-size: 14px;
            color: rgb(177, 171, 171);
            list-style: disc;
            /* proper bullets */
        }

        .verttical-title h4 {
            color: rgb(240, 240, 234);
            font-size: 14px;
        }

        .verttical-title h3 {
            color: rgb(238, 235, 59);
            margin-bottom: 8px;
            font-size: 16px;
        }

        .verttical-title p {
            color: rgb(177, 165, 165);
            margin-top: 8px;
            font-size: 12px;
        }


        /* Third Section  */

        .thirdsection {
            max-width: 55vw;
            margin: auto;
            height: 80vh;
            justify-content: flex-end;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            justify-content: center;
        }

        .third-title {
             margin-bottom: 10px;
             text-align: right;  
        }

        .box-skill {
            display: flex;
            justify-content: flex-end;
            width: 100%;
        }

        .vertical-skill {
            width: 150px;
        }

        .thirdsection .box {
            margin: 56px 0;
            width: 80vw;
            height: 2px;
            background: white;
            display: flex;
            justify-content: space-between; 
        }

        .thirdsection .vertical {
            width: 50%;
            height: 93px;
            background: white;
            display: inline-block;
            margin-left: auto;
        }


        /* .image-top {
            width: 40px;
            top: -32px;
            left: -9px;
            position: relative;
        } */


        .verttical-batch {
            position: relative;
            top: 8px;
            width: 400px;
            margin:0;

        }

        .vertical-disc {
            position: relative;
            top: 20px;
            color: rgb(177, 161, 161);
            width: 400px;
            font-size: 12px;
        }

        .vertical-disc ul {
            padding-left: 20px;
            color: rgb(177, 171, 171);
            margin-bottom: 0;
            margin-top: 5px;
        }

        .vertical-disc ul li {
            margin-bottom: 12px;
            line-height: 1.6;
            font-size: 14px;
            color: rgb(177, 171, 171);
            list-style: disc;
            
            /* proper bullets */
        }

        .verttical-batch h4 {
            color: rgb(177, 171, 171);
            font-size: 12px;
            margin-top: 8px;
            
        }

        .verttical-batch h3 {
            color: rgb(238, 235, 59);
            margin-bottom: 8px;
            font-size: 16px;
        }

        

        /*  footer section*/

        footer {
            background-color: rgb(18, 18, 62);
            margin-top: 30px;
        }

        .footer {
            display: flex;
            padding: 23px 122px;
            justify-content: space-evenly;

        }

        

        .footer li {
            margin-bottom: 10px;
        }

        .footer-first h3 {
        color: rgb(177, 171, 171);
        font-size: 0.7rem;
        }

        .footer-second a {
            font-size: 16px;
            margin: 10px;
            gap: 10px;
            display: flex;
            text-decoration: none;
            color:white;
            transition: 0.3s;
        }

        /* Individual colors */
        .fa-linkedin {
            color: #0A66C2;
        }

        .fa-github {
            color: #827e7e;
        }

        .fa-instagram {
            color: #E4405F;
        }

        .fa-whatsapp {
            color: #25D366;
        }

        .footer-second a:hover {
            transform: scale(1.2);
            transition: 0.3s;
        }


        .footer-third li a {
            text-decoration: none;
            color: white;
            display: flex;
            gap: 10px;

        }

        .footer-third ul li a:hover {
            color: yellow;
        }

        .footer-fourth li {
            color: rgb(226, 240, 240);
            ;
        }

        .footer ul {
            list-style: none;
        }

        .footer>div {
            width: 223px;
        }

        footer .footer-rights {
            text-align: center;
            color: rgb(177, 171, 171);
            margin-top: 20px;
            padding: 12px 0;
            font-size: 0.8rem;
        }


        /* fourthsection*/

        .fourthsection {
            max-width: 80vw;
            margin: auto;
            height: 100vh;
        }

        .fourthsection h2 {
            font-size: 2rem;
        }

         .text-black {
            font-size: 0.8rem;
            margin: 0 50px;
            color: rgb(177, 171, 171);
        }
        
        .fourthsection .box-projects {
            background: white;
            width: 80vw;
            height: 2px;
            margin: 56px 0;
            display: flex;

        }

        .fourthsection .verttical-projects {
            height: 93px;
            width: 1px;
            background-color: white;
            margin: 0 200px;
            
        }

        .project {
            color: rgb(238, 235, 59);
            margin-bottom: 8px;
            font-size: 16px;  
            position: relative;  
            top: 100px;
            width: 200px;
        }

        .horizontal-desc {
            color: rgb(177, 171, 171);
            font-size: 12px;
            position: relative;
            top: 100px;
            width: 200px;
            font-size: 12px;
            text-align:justify;
        }   

    html{
        scroll-behavior: smooth;
    }